.range {
  margin-left: 50px;
}

#color-display {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin-left: 45%;
  background-color: rgb(0, 0, 0);
}

body {
  font-size: 18px;
  margin-left: 50px;
  text-align: center;
}

.label {
  font-size: 30px;
  text-align: right;
}

.value-display {
  background-color: lightgray;
  cursor: default;
  text-align: center;
  width: auto;
}

form {
  text-align: right;
  margin-right: 40%;
}
